<!DOCTYPE html>
<html lang="es">
	<%- include('partials/head'); %>

	<body class="d-flex flex-column min-vh-100 bg-grad">
		<section id="burbujas" class="flex-grow-1">
			<%- include('partials/navigation'); %>
			<main class="mt-5">
				<div class="container mb-5">
					<h1 class="h2 text-center">Nivel de Agua</h1>
				</div>
				<div class="tank">
					<div class="water water--empty" id="water"></div>
				</div>
				<div class="container mt-5 text-end py-3">
					<a href="/registros" class="btn btn-outline-light">
						Mostrar últimos registros
					</a>
				</div>
			</main>
		</section>

		<%- include('partials/footer'); %> <%-
		include('partials/scripts-private'); %>
	</body>
</html>
